:root{
    --hover-opacity: .7;
    --transition: all .5s;
}


body{
    background-color: #1E252B;
    color: #ffffff8c;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1254px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
}

.wrapper{
    max-width: 1440px;
    margin: 0 auto;
}

h3{
    font-weight: 500;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.8);
}


/*?=========================== HEADER ===========================*/

.header {
    margin-top: 26px;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav {
    display: flex;
    gap: 50px;
    font-weight: 500;
}
.header__nav-item{
    transition: var(--transition);
}

.header__nav-item:hover{
    opacity: var(--hover-opacity);
}

.header__login {
    display: flex;
    gap: 41px;
    align-items: center;
}

.header__login-item:hover{
    opacity: var(--hover-opacity);
}
.login__button {
    font-weight: 600;
    font-size: 16px;
    color: #fdf5ff;

    border-radius: 8px;
    width: 118px;
    height: 48px;
    background: #ff6e30;
    transition: var(--transition);
}

.login__button:hover{
    opacity: var(--hover-opacity);
}


/*?=========================== MAIN HERO ===========================*/


.hero{
    margin-top: 58px;
    background: #1e252b00 url('../img/Illustration.svg') no-repeat right 50%/ 589px 802px;

}

.hero__inner {
    display: flex;
    flex-direction: column;
    padding-top: 104px;
}

.hero__title {
    font-weight: 500;
    font-size: 50px;
    line-height: 1.4;
    color: #ffffffe6;
    margin-bottom: 30px;
}

.hero__title span{
    color: #ff6e30;;
}

.hero__text {
    font-size: 18px;
    line-height: 1.67;
    color: rgba(255, 255, 255, 0.55);
    max-width: 430px;
    margin-bottom: 60px;
}

.search__form{
    display: flex;
    align-items: center;
    width: 440px;
    background: #283036;
    margin-bottom: 110px;
    border-radius: 15px;
    padding: 8px 11px 8px 18px;
}

.search__form input{
    background: #283036;
    max-width: 200px;
    width: 100%;
    margin-left: 13px;
    color: #fff;;
}

.search__form input::placeholder{
    background: #283036;
    font-size: 14px;
    color: #ffffff61;
}

.search__button{
    margin-left: 45px;
    font-weight: 600;
    color: #fff;
    border-radius: 8px;
    width: 130px;
    height: 48px;
    background: #ff6e30;
}

.socials__list {
    display: flex;
    gap: 8px;
}

.socials__item {
    transition: var(--transition);
}

.socials__item:hover {
    opacity: var(--hover-opacity);
}


/*?=========================== MAIN TOOLS ===========================*/

.tools {
    margin-top: 200px;
}

.tools__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tools__title {
    font-weight: 500;
    font-size: 48px;
    line-height: 1.3;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 25px;
}

.tools__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.67;
    text-align: center;
    color: rgba(255, 255, 255, 0.55);
    max-width: 390px;
}

.tools__grid {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    gap: 25px;
    margin-top: 110px;
}

.tools__grid-card {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    width: 392px;
    height: 294px;
    background: #1e252b;
    padding: 33px;
    gap: 30px;
    transition: var(--transition);
    position: relative;
}

.tools__grid-card:hover {
    backdrop-filter: blur(50px);
    background: #28303699;
}

.tools__grid-card button{
    transition: var(--transition);
}

.tools__grid-card:hover rect{
    fill: #28303699;
}

.tools__grid-card-top{
    display: flex;
}

.tools__grid-card-title {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    gap: 8px;
    line-height: 1.5;
}

.tools__grid-card-title span{
    font-size: 18px;
    color: rgba(255, 165, 55, 0.55);
}

.tools__grid-card-text {
    line-height: 1.87;
    color: rgba(255, 255, 255, 0.55);
}

.tools__grid-card-bottom {
    display: flex;
    align-items: center;
    justify-content: start;
}


.like__button, 
.folder__button{
    background: #28303699;
    border-radius: 8px;
    height: 41px;
    width: 41px;
}

.like__button path:hover{
    fill: #FD3B41;
    fill-opacity: 1;
}

.like__button-active path{
    fill: #FD3B41;
    fill-opacity: 1;
}

.card__button {
    border-radius: 8px;
    width: 106px;
    height: 42px;
    background: #1e252b;
    color: rgba(255, 255, 255, 0.55);
    margin-left: 124px;
    font-size: 16px;
    transition: var(--transition);
}

.card__button:hover{
    background: #ff6e30;
    opacity: var(--hover-opacity);
}

.tools__more-button {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    width: 184px;
    height: 64px;
    background: #1e252b;
    font-weight: 500;
    font-size: 20px;
    color: #ff6e30;
    margin-top: 100px;
    transition: var(--transition);
}

.tools__more-button:hover{
    opacity: var(--hover-opacity);
    width: 200px;
    height: 80px;
    margin-top: 88px;
}


/*?=========================== MAIN BRAND ===========================*/

.brand {
    margin: 200px 0;
}

.brand__inner {
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    padding: 55px 82px;
    backdrop-filter: blur(50px);
    background: rgba(44, 53, 61, 0.2);
}

.brand__title {
    margin-bottom: 55px;
    text-align: center;
}
.brand-list {
    display: flex;
    justify-content: space-between;
}











/*?=========================== FOOTER ===========================*/


.wrapper .footer {
    border-top: 0.50px solid rgba(255, 255, 255, 0.15);
}

.footer__inner{
    display: flex;
    min-height: 350px;
    width: 100%;
    height: 0px;
    padding: 70px 0 98px;
}

.footer__item{
    display: flex;
    flex-direction: column;
    max-width: 220px;
    gap: 23px;
}

.footer__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 115px;
    margin-left: 156px;
}
.footer__grid-item {
}

.copyright {
    font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
color: rgba(255, 255, 255, 0.9);
}
.footer__item-text {
    font-size: 14px;
    line-height: 1.79;
    color: rgba(255, 255, 255, 0.55);
}
.contact_us {
}
.footer__grid-title {
    font-weight: 500;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 20px;
}
.footer__grid-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer__grid-link {
}
.categories {
}
.company__info {
}